[Unit]
Description=Paper Minecraft Server

[Service]
Type=simple
WorkingDirectory=/home/frank/.frankpoon/resources/minecraft/
ExecStart=start.sh
User=frank
Restart=on-failure

[Install]
WantedBy=multi-user.target